<div class="col-md-12">

  <hr/>
  <h1>{{titulo}}</h1>
  <hr/>

  <form [formGroup]="formLogin" (ngSubmit)="onSubmit()" novalidate class="col-md-4">

    <div *ngIf="error" class="alert alert-danger" role="alert">{{error}}</div>
    <p>
      <label>Correo electrónico:</label>
      <input
        name="email"
        type="email"
        id="email"
        class="form-control"
        formControlName="email"
        required/>
      <span *ngIf="!formLogin.controls['email'].valid && formLogin.controls['email'].touched">El email es obligatorio</span>
    </p>

    <p>
      <label>Contraseña:</label>
      <input
        name="password"
        type="password"
        id="password"
        class="form-control"
        formControlName="password"
        required/>
      <span *ngIf="!formLogin.controls['password'].valid && formLogin.controls['password'].touched">El password es obligatorio</span>
    </p>

    <input type="submit" [disabled]="!formLogin.valid" value="Entrar" class="btn btn-primary"/>
  </form>

  <!--
    <div class="identity-data" *ngIf="identity">
        <div class="user-identity alert alert-success" *ngIf="identity.email">
            Bienvenido {{identity.name}}
        </div>

        <div class="user-identity alert alert-danger" *ngIf="identity.data">
            {{identity.data}}
        </div>
    </div>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-4">
        <p>
            <label>Correo electrónico:</label>
            <input type="email" class="form-control" #email="ngForm" ngControl="email" [(ngModel)]="user.email" required />
            <span *ngIf="!email.valid">El email es obligatorio</span>
        </p>

        <p>
            <label>Contraseña:</label>
            <input type="password" class="form-control" #password="ngForm" ngControl="password" [(ngModel)]="user.password" required />
            <span *ngIf="!password.valid">La contraseña es obligatoria</span>
        </p>

        <input type="submit" value="Entrar" class="btn btn-primary"/>
    </form>-->
</div>
