<div class="col-md-12">
  <hr/>
  <h1>Register</h1>
  <hr/>

  <div class="alert alert-success" *ngIf="status == 'success'">
    Te has registrado correctamente, ahora puedes identificarte
    <a [routerLink]="['/login']">pinchando aqui...</a>
  </div>

  <div class="alert alert-danger" *ngIf="status == 'error'">
    No ha sido posible registrarte en la plataforma, intentalo más tarde.
  </div>

  <div *ngIf="errorAlert.length" class="alert alert-danger" role="alert">
    <p *ngFor="let item of errorAlert">{{item}}</p>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate class="col-md-4">

    <div class="form-group {{form.get('firstName').dirty ? 'has-feedback' : ''}}"
         [ngClass]="{'has-error':formErrors.firstName.length,'has-success':form.get('firstName').valid}">
      <label class="control-label" for="firstName">Nombre:</label>
      <input type="text" class="form-control" formControlName="firstName" id="firstName"/>
      <span class="help-block" *ngFor="let item of formErrors.firstName">{{item}}</span>
      <span class="glyphicon form-control-feedback"
            [ngClass]="{'glyphicon-remove':formErrors.firstName.length,'glyphicon-ok':form.get('firstName').valid}"
            aria-hidden="true"></span>
    </div>

    <div class="form-group {{form.get('lastName').dirty ? 'has-feedback' : ''}}"
         [ngClass]="{'has-error':formErrors.lastName.length,'has-success':form.get('lastName').valid}">
      <label class="control-label" for="lastName">Apellidos:</label>
      <input type="text" class="form-control" formControlName="lastName" id="lastName"/>
      <span class="help-block" *ngFor="let item of formErrors.lastName">{{item}}</span>
      <span class="glyphicon form-control-feedback"
            [ngClass]="{'glyphicon-remove':formErrors.lastName.length,'glyphicon-ok':form.get('lastName').valid}"
            aria-hidden="true"></span>
    </div>

    <div class="form-group {{form.get('email').dirty ? 'has-feedback' : ''}}"
         [ngClass]="{'has-error':formErrors.email.length,'has-success':form.get('email').valid}">
      <label class="control-label" for="email">Email:</label>
      <input type="email" class="form-control" formControlName="email" id="email"/>
      <span class="help-block" *ngFor="let item of formErrors.email">{{item}}</span>
      <span class="glyphicon form-control-feedback"
            [ngClass]="{'glyphicon-remove':formErrors.email.length,'glyphicon-ok':form.get('email').valid}"
            aria-hidden="true"></span>
    </div>

    <div class="form-group {{form.get('plainPassword.first').dirty ? 'has-feedback' : ''}}"
         formGroupName="plainPassword"
         [ngClass]="{'has-error':formErrors['plainPassword.first'].length,'has-success':form.get('plainPassword.first').valid}">
      <label class="control-label" for="first">Contraseña:</label>
      <input type="password" class="form-control" formControlName="first" id="first"/>
      <span class="help-block" *ngFor="let item of formErrors['plainPassword.first']">{{item}}</span>
      <span class="glyphicon form-control-feedback"
            [ngClass]="{'glyphicon-remove':formErrors['plainPassword.first'].length,'glyphicon-ok':form.get('plainPassword.first').valid}"
            aria-hidden="true"></span>
    </div>

    <div class="form-group {{form.get('plainPassword.second').dirty ? 'has-feedback' : ''}}"
         formGroupName="plainPassword"
         [ngClass]="{'has-error':formErrors['plainPassword.second'].length,'has-success':form.get('plainPassword.second').valid}">
      <label class="control-label" for="second">Confirm Contraseña:</label>
      <input type="password" class="form-control" formControlName="second" id="second"/>
      <span class="help-block" *ngFor="let item of formErrors['plainPassword.second']">{{item}}</span>
      <span class="glyphicon form-control-feedback"
            [ngClass]="{'glyphicon-remove':formErrors['plainPassword.second'].length,'glyphicon-ok':form.get('plainPassword.second').valid}"
            aria-hidden="true"></span>
    </div>

    <input type="submit" value="Registrarse" class="btn btn-success" [disabled]="!form.valid"/>
  </form>
</div>
