<div class="col-md-12">
  <hr/>
  <h1>Change Password</h1>
  <hr/>

  <div class="alert alert-success" *ngIf="status == 'success'">
    The password has ben update with success
  </div>

  <div *ngIf="error.length" class="alert alert-danger" role="alert">
    <p *ngFor="let item of error">{{item}}</p>
  </div>

  <form *ngIf="!submit" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate class="col-md-4">

    <div class="form-group {{form.get('current_password').dirty ? 'has-feedback' : ''}}"
         [ngClass]="{'has-error':formErrors.current_password.length,'has-success':form.get('current_password').valid}">
      <label class="control-label" for="current_password">Current Password:</label>
      <input type="password" class="form-control" formControlName="current_password" id="current_password"/>
      <span class="help-block" *ngFor="let item of formErrors.current_password">{{item}}</span>
      <span class="glyphicon form-control-feedback"
            [ngClass]="{'glyphicon-remove':formErrors.current_password.length,'glyphicon-ok':form.get('current_password').valid}"
            aria-hidden="true"></span>
    </div>

    <div class="form-group {{form.get('plainPassword.first').dirty ? 'has-feedback' : ''}}"
         formGroupName="plainPassword"
         [ngClass]="{'has-error':formErrors['plainPassword.first'].length,'has-success':form.get('plainPassword.first').valid}">
      <label class="control-label" for="first">Contraseña:</label>
      <input type="password" class="form-control" formControlName="first" id="first"/>
      <span class="help-block" *ngFor="let item of formErrors['plainPassword.first']">{{item}}</span>
      <span class="glyphicon form-control-feedback"
            [ngClass]="{'glyphicon-remove':formErrors['plainPassword.first'].length,'glyphicon-ok':form.get('plainPassword.first').valid}"
            aria-hidden="true"></span>
    </div>

    <div class="form-group {{form.get('plainPassword.second').dirty ? 'has-feedback' : ''}}"
         formGroupName="plainPassword"
         [ngClass]="{'has-error':formErrors['plainPassword.second'].length,'has-success':form.get('plainPassword.second').valid}">
      <label class="control-label" for="second">Confirm Contraseña:</label>
      <input type="password" class="form-control" formControlName="second" id="second"/>
      <span class="help-block" *ngFor="let item of formErrors['plainPassword.second']">{{item}}</span>
      <span class="glyphicon form-control-feedback"
            [ngClass]="{'glyphicon-remove':formErrors['plainPassword.second'].length,'glyphicon-ok':form.get('plainPassword.second').valid}"
            aria-hidden="true"></span>
    </div>

    <input type="submit" value="Send" class="btn btn-success" [disabled]="!form.valid"/>
  </form>
</div>
