<ul class="media-list" *ngIf="videos">
  <li class="media" *ngFor="let video of videos.items">
    <div class="media-left">
      <a [routerLink]="['/videos', video.id]" title="{{video.title}}">
        <img class="media-object img-thumbnail" src="{{video.imagesUrl.mqdefault}}" alt="{{video.title}}" width="158">
      </a>
    </div>
    <div class="media-body pointer">
      <a [routerLink]="['/videos', video.id]">
        <h4 class="media-heading block-with-text" title="{{video.title}}" style="font-size: 14px;"><strong>{{video.title}}</strong>
        </h4>
        <p style="font-size: 11px; color: #767676">{{video.user.fullName}}</p>
      </a>
    </div>
  </li>
</ul>
<div *ngIf="loading || !videos">
  <p><img src="assets/images/ajax-gray.gif"/></p>
</div>
<button class="btn btn-primary btn-block" (click)="next()"
        *ngIf="!loading && nextClicked < maxClicks && (videos && videos._links.next)">Load More
</button>
