<div class="col-md-12">
  <hr/>

  <h1>Welcome!!</h1>
  <div *showAuthed="false">
    Start the session for get more optins...
  </div>

  <div *showAuthed="true">
    Bienvenido {{user.fullName}}, <a [routerLink]="['/']">entra en tu canal</a> o <a
    [routerLink]="['/videos/upload']">crea un nuevo video</a>.
  </div>

  <hr/>

  <div class="all-videos">

    <div class="loader" *ngIf="loading">
      <img src="assets/images/ajax-gray.gif"/>
    </div>

    <div *ngIf="videosList && !loading">
      <div class="col-sm-6 col-md-4" *ngFor="let video of videosList.items">
        <div class="thumbnail" style="height: 298px">
          <a [routerLink]="['/videos', video.id]" title="{{video.tit}}">
            <img src="{{video.imagesUrl.mqdefault}}" alt="{{video.title}}">
          </a>
          <div class="caption">
            <h4 class="block-with-text">
              <a [routerLink]="['/videos', video.id]" title="{{video.title}}">{{video.title}}</a>
            </h4>
            <p style="font-size: 11px">Subido por <a
              [routerLink]="['/channel', video.user.id]">{{video.user.fullName}}</a></p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="clearfix"></div>

  <div *ngIf="videosList && !loading" align="center">
    <app-pagination [itemList]="videosList" [pager]="pager" [routerName]="'/home'"></app-pagination>
  </div>

</div>
