<div class="col-md-12">
  <hr/>

  <h1>Welcome!!</h1>
  <div *showAuthed="false">
    Start the session for get more optins...
  </div>

  <div *showAuthed="true">
    Bienvenido {{user.fullName}}, <a [routerLink]="['/']">entra en tu canal</a> o <a
    [routerLink]="['/videos/create-video']">crea un nuevo video</a>.
  </div>

  <hr/>

  <div class="all-videos">

    <div class="loader" *ngIf="loading">
      <img src="assets/images/ajax-gray.gif"/>
    </div>

    <div *ngIf="videosList && !loading">
      <div class="col-sm-6 col-md-4" *ngFor="let video of videosList.items">
        <div class="thumbnail" style="height: 298px">
          <a [routerLink]="['/videos', video.id]" title="{{video.tit}}">
            <img src="{{video.imagesUrl.mqdefault}}" alt="{{video.title}}">
          </a>
          <div class="caption">
            <h4 class="block-with-text">
              <a [routerLink]="['/videos', video.id]" title="{{video.title}}">{{video.title}}</a>
            </h4>
            <p style="font-size: 11px">Subido por <a
              [routerLink]="['/channel', video.user.id]">{{video.user.fullName}}</a></p>
          </div>
        </div>
      </div>
    </div>

    <!--<ul id="videos-list" *ngIf="videosList && !loading">
      <li *ngFor="let video of videosList.items" class="video-item col-md-4 pull-left">
        <div class="video-image-thumb">
          <img
            src="{{video.imagesUrl.mqdefault}}"
            *ngIf="video.videoName"/>
        </div>
        <div class="data">
          <h4 class="block-with-text"><a [routerLink]="['/videos', video.id]">{{video.title}}</a></h4>
          <p>Subido por <a [routerLink]="['/channel', video.user.id]">{{video.user.fullName}}</a></p>
          <div class="video-buttons" *ngIf="user.id == video.user.id">
            <a [routerLink]="['/edit-video', video.id]" class="btn btn-primary">Editar</a>
          </div>
        </div>
        <div class="clearfix"></div>
      </li>
    </ul>-->

  </div>
  <div class="clearfix"></div>

  <div *ngIf="videosList && !loading" align="center">
    <ul class="pagination">
      <li *ngIf="videosList._links.previous">
        <a [routerLink]="['/']" [queryParams]="paginationQueryParams('previous')"
           aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active: pager.currentPage == page}">
        <a [routerLink]="['/']" [queryParams]="paginationQueryParams(null, page)">{{page}}</a>
      </li>
      <li *ngIf="videosList._links.next">
        <a [routerLink]="['/']" [queryParams]="paginationQueryParams('next')"
           aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </div>

</div>
