<div class="loader" *ngIf="loading">
  <img src="assets/images/ajax-gray.gif"/>
</div>

<div *ngIf="video && !loading">

  <div class="col-md-8" style="padding-left: 0; padding-right: 0">
    <video controls id="video-player" poster="{{video.imagesUrl.maxresdefault}}" style="border: 1px solid #ccc">
      <source src="{{video.videoUrl}}">
      Tu navegador no es compatible con HTML5
    </video>

    <div class="panel panel-default video-data">
      <div class="panel-body">
        <h3 style="margin-top: 0; font-size: 20px">{{video.title}}</h3>
        <ul class="media-list" style="margin-bottom: 0">
          <li class="media">
            <div class="media-left">
              <img class="media-object" *ngIf="video.user.avatarImageName"
                   src="{{video.user.avatarImageUrl}}" width="48"/>
              <img class="media-object" *ngIf="!video.user.avatarImageName" src="assets/images/default_img_user_64.png"
                   width="48"/>
            </div>
            <div class="media-body">
              <h4 class="media-heading" title="{{video.user.fullName}}" style="margin-top: 10px; font-size: 12px">
                <strong>{{video.user.fullName}}</strong>
              </h4>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="panel panel-default video-data">
      <div class="panel-heading">
        <h3 class="panel-title" style="font-size: 14px">Published in {{video.createdAt | date:'dd/MM/y' }}</h3>
      </div>
      <div class="panel-body line-breaker">{{video.description}}</div>
    </div>

    <!-- COMPONENTE DE COMENTARIOS -->
    <app-video-comments [videoId]="video.id"></app-video-comments>
  </div>

  <div class="col-md-4" style="padding-right: 0">
    <app-video-lasts [offset]="video.id"></app-video-lasts>
  </div>

</div>
