<li class="media" id="comment-media-{{comment.id}}">
  <div class="media-left">
    <a href="javascript:void(0)">
      <app-user-avatar [user]="comment.user"></app-user-avatar>
    </a>
  </div>
  <div class="media-body">
    <div class="media-heading pull-left">
      <a href="#" class="text-primary">{{comment.user.fullName}}</a>
      <span class="text-muted" style="font-size: 80%">- {{comment.createdAt | amTimeAgo }}</span>
    </div>
    <div class="btn-group pull-right" *ngIf="user.id == comment.user.id || user.id == comment.video.user.id">
      <div style="cursor: pointer" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
        <span class="glyphicon glyphicon-option-vertical"></span>
      </div>
      <ul class="dropdown-menu">
        <li>
          <a href="javascript:void(0)" (click)="editComment(comment.id)"
             *ngIf="user.id == comment.user.id">Edit</a>
        </li>
        <li>
          <a href="javascript:void(0)" (click)="deleteComment(comment)"
             *ngIf="user.id == comment.user.id || user.id == comment.video.user.id">Delete</a>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
    <p class="line-breaker" style="line-height: 0.9; padding-top: 7px; padding-right: 40px">{{comment.body}}</p>
    <p>
      <a href="javascript:void(0)" class="text-muted" (click)="showCommentForm(comment.id);">
        Reply
      </a>
    </p>
    <p class="comment-renderer-replybox" id="formCommentAddShow-{{comment.id}}">
      <app-video-comments-add
        [video]="video"
        [commentParent]="commentToReply"
        [elementId]="'formCommentAddShow-'+comment.id">
      </app-video-comments-add>
    </p>
    <div *ngIf="comment.commentChildren">
      <app-video-comments-item-media *ngFor="let commentChildren of comment.commentChildren.items"
                                     [comment]="commentChildren" [video]="video"></app-video-comments-item-media>

      <div *ngIf="loadingNext">
        <button class="btn btn-default btn-block">Loading...</button>
      </div>

      <button class="btn btn-default btn-sm btn-block" (click)="next()"
              *ngIf="!loadingNext && comment.commentChildren._links && comment.commentChildren._links.next">
        Load all {{comment.commentChildren.total}} comments
      </button>
      <br>
    </div>
  </div>
</li>
